$modal-height: '30%';
dialog {
  width: 40%;
  //height: 30%;
  height: $modal-height;
  //height: auto;
  padding: 0;
  border-radius: 10px;
  border: 0;
}

.main-modal-block {
  margin-top: 5%;
  height: 40%;
  padding-bottom: 50px;
  transition: padding-bottom 0.5s ease;
}

.input-area {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.input-area>input {
  width: 50%;
}

.error-msg {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  background-color: red;
  transition: max-height 0.5s ease;
}
.error-msg.visible {
  max-height: 25%;
}

.button-block {
  height: 20%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
}

.button-block>button {
  height: 50px;
}




